*{
  outline: none
}

html {
  overflow-y: scroll
}

body {
  height: 100%;
  font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #2f4b69;
  margin: auto;
  width:540px;
  color:#fff;
}

header{
	padding-top:200px;
	margin:auto;
}

.content{
  padding-top:50px;
  padding-bottom:50px;
}

footer{
	width:540px;
	position:absolute;
	bottom:50px;
	text-align:center;
	padding-top:150px;
	font-size:18px;
	font-weight:400;
}